body {
	text-align: center;
	background: url("../images/website-background.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	font-family: helvetica;
}

img {
	border-radius: 50%;
}

p {
	font-size: 22px;
}
input {
	border: 0;
	padding: 10px;
	font-size: 18px;
}

input[type="submit"] {
	color: white;
	background: red;
}	